<template>
  <div class="q-pa-md q-gutter-sm">
    <q-btn label="Confirm" color="primary" @click="confirm = true" />

    <q-dialog v-model="confirm" persistent full-width>
      <q-card>
        <q-card-section class="row items-center">
          <Webcam @newPhoto="" />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn no-caps flat label="Отмена" color="red" v-close-popup />
          <q-btn
            no-caps
            label="Сохранить фото"
            color="secondary"
            @click="savePhoto"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Webcam from "../components/Webcam";

export default {
  components: {
    Webcam
  },
  data() {
    return {
      confirm: false
    };
  },
  methods: {
    newPhoto(){

    },

    async savePhoto() {
      console.log()
    }
  }
};
</script>
