<template>
  <div>
    <div v-if="compatible" class="row q-col-gutter-md">
      <div class="col-6">
        <video ref="video" autoplay style="width: 100%;" />
      </div>
      <div class="col-6">
        <img ref="image" style="width: 100%;" />
      </div>
      <div v-show="devices.length > 1">
        <select v-model="device" @change="start">
          <option
            v-for="(option, index) in devices"
            :value="option.deviceId"
            :key="index"
            >{{ option.label }}</option
          >
        </select>
      </div>
    </div>
    <div
      style="display: flex; align-items: center;justify-content: center;"
      v-else
    >
      <i
        style="font-size: 32px;"
        class="fas fa-exclamation-circle m-2 text-warning"
      ></i>
      {{ messageCompatible }}
    </div>
    <q-btn
      no-caps
      @click="capture"
      outline
      color="primary"
      label="Сделать снимок"
      icon="photo_camera"
    />
  </div>
</template>

<script>
export default {
  name: "Webcam",
  props: ['photoClient'],

  data() {
    return {
      compatible: false,
      messageCompatible: "Компонент не совместим с вашим браузером.",
      stream: null,
      devices: [],
      device: null
    };
  },
  created() {
    navigator.getUserMedia =
      navigator.getUserMedia ||
      navigator.webkitGetUserMedia ||
      navigator.mozGetUserMedia;
    this.compatible =
      navigator.getUserMedia != null && document.location.protocol == "https:";
  },
  mounted() {
    var self = this;
    const cam = new Promise((resolve, reject) => {
      navigator.mediaDevices
        .enumerateDevices()
        .then(devices => {
          self.devices = devices.filter(value => value.kind == "videoinput");
          self.compatible = self.devices.length != 0;
        })
        .then(() => {
          if (self.devices.length > 0) {
            let device = self.devices.filter(
              value => value.label.indexOf("back") != -1
            );
            if (device && device.length > 0) {
              self.device = device[0].deviceId;
            }
            resolve();
          }
        })
        .catch(error => reject(error));
    });

    let proccess = [cam];

    Promise.all(proccess)
      .then(() => self.start())
      .catch(() => (this.compatible = false));
  },
  destroyed() {
    if (this.stream) this.stream.getTracks().map(track => track.stop());
  },
  methods: {
    prepare() {
      return new Promise(resolve => {
        if (this.stream) {
          this.stream.getTracks().map(track => track.stop());
        }
        this.stream = null;
        window.stream = null;
        resolve();
      });
    },
    start() {
      this.prepare().then(() => {
        let constraints = {
          audio: false,
          video:
            this.device != null
              ? {
                  deviceId: { exact: this.device }
                }
              : true
        };

        navigator.mediaDevices
          .getUserMedia(constraints)
          .then(stream => {
            window.stream = stream;
            this.stream = stream;

            if ("srcObject" in this.$refs.video) {
              this.$refs.video.srcObject = stream;
            } else {
              window.HTMLMediaElement.srcObject(stream);
            }
          })
          .catch(error => {
            this.compatible = false;
            if (error.name == "NotAllowedError") {
              this.messageCompatible = "Разрешить доступ к камере.";
            }
          });
      });
    },

    capture() {
      const track = this.stream.getVideoTracks()[0];
      const captured = new ImageCapture(track);
      captured.takePhoto().then(blob => {
        this.$refs.image.src = URL.createObjectURL(blob);
        var reader = new FileReader();
        reader.onload = () => {
          const photoClient = reader.result.split(",")[1];
          this.$emit('newPhoto', photoClient)
        };
        reader.readAsDataURL(blob);
      });
    }
  }
};
</script>
